dist: xenial
language: php

env:
  global:
    # In order to specify extra flags like ignoring platform reqs, using only stable packages and so on.
    - COMPOSER_FLAGS=""

# run tests on php misc php versions
matrix:
  fast_finish: true
  include:
    - php: 7.1
    - php: 7.2
    - php: 7.3
      env: CHECK_CS=true

cache:
  directories:
    - "$HOME/.composer/cache"

# test only master (+ Pull requests)
branches:
  only:
    - master
    - /^\d.\d+$/

# setup requirements for running unit tests
before_script:
  # Disable xdebug and remove memory limit to speed things up
  - phpenv config-rm xdebug.ini
  - echo "memory_limit=-1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  # Install packages using composer
  - travis_retry composer install --prefer-dist --no-interaction --no-progress $COMPOSER_FLAGS

# execute phpunit as the script command
script:
  - composer test
  - if [ "$CHECK_CS" != "" ]; then ./vendor/bin/php-cs-fixer fix -v --dry-run --diff --show-progress=estimating; fi

# disable mail notifications
notifications:
  email: false

# reduce depth (history) of git checkout
git:
  depth: 2
