language: php

# run tests on php misc php versions
php:
#  - 5.4
#  - 5.5
  - 5.6

env:
  - SUITE=phpunit
  - SUITE=behat INSTALL="demoContentNonUniqueDB" PROFILE="demo" TEST="content"
  - SUITE=behat INSTALL="demoCleanNonUniqueDB" PROFILE="legacyAdmin" TEST="full"

# test only master (+ Pull requests)
branches:
  only:
    - master

# Get ezpublish5 repo, and use it as the build dir
before_install:
  # Setup github key to avoid api rate limit
  - ./composer_install_github_key.sh
  - if [ $SUITE == "phpunit" ]; then ./.travis/phpunit_before_install.sh; fi
  - if [ $SUITE == "behat" ]; then ./travis/behat_before_install.sh; fi

# setup requirements for running unit tests
before_script:
  - if [ $SUITE == "phpunit" ]; then ./.travis/phpunit_before_script.sh; fi
  - if [ $SUITE == "behat" ]; then ./.travis/behat_before_script.sh; fi

# execute the test command
script:
    - if [ $SUITE == "phpunit" ]; then ./bin/phpunit -d date.timezone='America/New_York' -d memory_limit=-1; fi
    - if [ $SUITE == "behat" ]; then ./bin/behat --profile $PROFILE --suite $TEST

# disable mail notifications
notification:
  email: false

# reduce depth (history) of git checkout
git:
  depth: 30
