parameters:
    ezpublish_legacy.twig.extension.template.js: '@@EzPublishLegacy/ez_legacy_render_js.html.twig'
    ezpublish_legacy.twig.extension.template.css: '@@EzPublishLegacy/ez_legacy_render_css.html.twig'

    # eZ Template as a real template engine

services:
    ezpublish_legacy.twig.extension:
        class: eZ\Publish\Core\MVC\Legacy\Templating\Twig\Extension\LegacyExtension
        arguments:
            - "@templating.engine.eztpl"
            - "@ezpublish_legacy.templating.legacy_helper"
            - "%ezpublish_legacy.twig.extension.template.js%"
            - "%ezpublish_legacy.twig.extension.template.css%"
        tags:
            - {name: twig.extension}

    ezpublish_legacy.templating.generic_converter:
        class: eZ\Publish\Core\MVC\Legacy\Templating\Converter\GenericConverter

    ezpublish_legacy.templating.delegating_converter:
        class: eZ\Publish\Core\MVC\Legacy\Templating\Converter\DelegatingConverter
        arguments: ["@ezpublish_legacy.templating.generic_converter"]

    ezpublish_legacy.templating.object_converter:
        alias: ezpublish_legacy.templating.delegating_converter

    ezpublish_legacy.templating.api_content_converter:
        class: eZ\Publish\Core\MVC\Legacy\Templating\Converter\ApiContentConverter
        arguments: ["@ezpublish_legacy.kernel"]
        tags:
            - {name: ezpublish_legacy.templating.converter, for: eZ\Publish\Core\Repository\Values\Content\Content}
            - {name: ezpublish_legacy.templating.converter, for: eZ\Publish\Core\Repository\Values\Content\Location}
            - {name: ezpublish_legacy.templating.converter, for: eZ\Publish\Core\Repository\Values\Content\VersionInfo}

    ezpublish_legacy.templating.pageparts_converter:
        class: eZ\Publish\Core\MVC\Legacy\Templating\Converter\PagePartsConverter
        tags:
            - {name: ezpublish_legacy.templating.converter, for: eZ\Publish\Core\FieldType\Page\Parts\Block}
            - {name: ezpublish_legacy.templating.converter, for: eZ\Publish\Core\FieldType\Page\Parts\Zone}

    ezpublish_legacy.templating.legacy_helper:
        class: eZ\Publish\Core\MVC\Legacy\Templating\LegacyHelper
        arguments: ["@ezpublish_legacy.kernel"]

    ezpublish.templating.global_helper.legacy:
        class: eZ\Publish\Core\MVC\Legacy\Templating\GlobalHelper
        parent: ezpublish.templating.global_helper.core
        calls:
            - [setLegacyHelper, ["@ezpublish_legacy.templating.legacy_helper"]]

    # Overriding core helper
    ezpublish.templating.global_helper:
        alias: ezpublish.templating.global_helper.legacy

    templating.engine.eztpl:
        class: eZ\Publish\Core\MVC\Legacy\Templating\LegacyEngine
        arguments: ["@ezpublish_legacy.kernel", "@ezpublish_legacy.templating.object_converter"]

    assetic.eztpl_formula_loader:
        class: eZ\Publish\Core\MVC\Legacy\Templating\LegacyFormulaLoader
        tags:
            - {name: assetic.formula_loader, alias: eztpl}

    twig.loader.string:
        class: eZ\Publish\Core\MVC\Legacy\Templating\Twig\LoaderString
        tags:
            - {name: twig.loader}
